[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bacpypes = "*"
hbmqtt = "*"

[dev-packages]
pylint = "*"
rope = "*"
mypy = "*"

[requires]
python_version = "3.6"
