[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bacpypes = "*"
paho-mqtt = "*"

[dev-packages]
rope = "*"
black = "*"
pylint = "==2.3.0.dev0"
mypy = "==0.660"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"

[requires]
python_version = "3.7.2"

[pipenv]
allow_prereleases = true
