[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bacpypes = "*"
hbmqtt = "*"

[dev-packages]
rope = "*"
black = "*"
pylint = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
pre-commit = "*"
pytest-mypy = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.7.2"

[pipenv]
allow_prereleases = true

[scripts]
test = "sh -c 'mypy -p bacprop && pytest'"
lint = 'black -v --check tests bacprop'